[data]
  os = "{{ .chezmoi.os }}"

  {{- $isWSL   := and (eq .chezmoi.os "linux") (contains "microsoft" (output "cat" "/proc/version")) -}}
  {{- $isLinux := eq .chezmoi.os "linux" -}}

  is_macos   = {{ eq .chezmoi.os "darwin" }}
  is_windows = {{ eq .chezmoi.os "windows" }}
  is_wsl     = {{ $isWSL }}
  is_linux   = {{ $isLinux }}
  is_fedora  = {{ and $isLinux (eq .chezmoi.osRelease.id "fedora") }}