[data]
os = "{{ .chezmoi.os }}"

{{- if eq .chezmoi.os "linux" }}
is_wsl = {{ contains "microsoft" (output "cat" "/proc/version") }}
is_linux = true
is_fedora = {{ eq .chezmoi.osRelease.id "fedora" }}
{{- else }}
is_wsl = false
is_linux = false
is_fedora = false
{{- end }}

is_macos = {{ eq .chezmoi.os "darwin" }}
is_windows = {{ eq .chezmoi.os "windows" }}