# Read more here:
# https://www.chezmoi.io/reference/special-files/chezmoiignore/

# Setup scripts should not be applied by chezmoi
setup.sh
setup.ps1

README.md

{{- if .is_windows }}
.zshrc
# Windows ignore patterns here...
{{- end }}

{{- if .is_linux }}
AppData/Local/Packages/Microsoft.WindowsTerminal*/LocalState/settings.json
# Linux ignore patterns here...
    
    {{- if .is_wsl }}
    # WSL ignore patterns here...
    {{- end }}
{{- end }}

{{- if .is_macos }}
AppData/Local/Packages/Microsoft.WindowsTerminal*/LocalState/settings.json
# macOS ignore patterns here...
{{- end }}